In [6]:
#import files using pandas

import pandas as pd 
import numpy as np


df1= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202004-divvy-tripdata.csv',sep =',', parse_dates=['started_at','ended_at'])
df2= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202005-divvy-tripdata.csv',sep =',', parse_dates=['started_at','ended_at'])
df3= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202006-divvy-tripdata.csv',sep =',', parse_dates=['started_at','ended_at'])
df4= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202007-divvy-tripdata.csv',sep =',',parse_dates=['started_at','ended_at'])
df5= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202008-divvy-tripdata.csv',sep =',', parse_dates=['started_at','ended_at'])
df6= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202009-divvy-tripdata.csv',sep =',',parse_dates=['started_at','ended_at'])

In [7]:
df7= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202010-divvy-tripdata.csv',sep =',',parse_dates=['started_at','ended_at'])
df8= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202011-divvy-tripdata.csv',sep =',',parse_dates=['started_at','ended_at'])
df9= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202012-divvy-tripdata.csv',sep =',',parse_dates=['started_at','ended_at'])
df10= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202101-divvy-tripdata.csv',sep =',',parse_dates=['started_at','ended_at'])
df11= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202102-divvy-tripdata.csv',sep =',',parse_dates=['started_at','ended_at'])
df12= pd.read_csv(r'C:\Users\user\Desktop\Google capstone\202103-divvy-tripdata.csv',sep =',',parse_dates=['started_at','ended_at'])

In [8]:
data_frames= [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

In [9]:
#merge data using pandas concat
# drop duplicates
merged_data = pd.concat(data_frames, ignore_index=True).drop_duplicates(subset= ['ride_id'])

In [10]:
# drop data if the column "started_at" > "ended_at"
filt = merged_data['started_at'] > merged_data['ended_at']


merged_data.drop(merged_data.index[filt], inplace=True)

In [11]:
#create new column for trip time in hours
merged_data['TrpTIme_in_hrs'] = (merged_data['ended_at'] - merged_data['started_at'])

In [12]:
# create a column for triptime in minutes 
merged_data['trip_time_minutes']= (merged_data['TrpTIme_in_hrs'].dt.total_seconds())/60

In [13]:
# create columns for Days of the week when trip started and ended
merged_data['DOW(strt_trip)']= merged_data['started_at'].dt.day_name()
merged_data['DOW(End_trip)']= merged_data['ended_at'].dt.day_name()

In [14]:
# create a column for months trip started
merged_data['MON(strt_trip)']= merged_data['started_at'].dt.month_name()

In [15]:
merged_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,TrpTIme_in_hrs,trip_time_minutes,DOW(strt_trip),DOW(End_trip),MON(strt_trip)
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.896400,-87.661000,41.932200,-87.658600,member,0 days 00:26:49,26.816667,Sunday,Sunday,April
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.924400,-87.715400,41.930600,-87.723800,member,0 days 00:08:09,8.150000,Friday,Friday,April
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.894500,-87.617900,41.867900,-87.623000,member,0 days 00:14:23,14.383333,Wednesday,Wednesday,April
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.903000,-87.697500,41.899200,-87.672200,member,0 days 00:12:12,12.200000,Tuesday,Tuesday,April
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.890200,-87.626200,41.969500,-87.654700,casual,0 days 00:52:55,52.916667,Saturday,Saturday,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3489743,9397BDD14798A1BA,docked_bike,2021-03-20 14:58:56,2021-03-20 17:22:47,Michigan Ave & Oak St,13042,New St & Illinois St,TA1306000013,41.900960,-87.623777,41.890847,-87.618617,casual,0 days 02:23:51,143.850000,Saturday,Saturday,March
3489744,BBBEB8D51AAD40DA,classic_bike,2021-03-02 11:35:10,2021-03-02 11:43:37,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,0 days 00:08:27,8.450000,Tuesday,Tuesday,March
3489745,637FF754DA0BD9E1,classic_bike,2021-03-09 11:07:36,2021-03-09 11:49:11,Michigan Ave & Oak St,13042,Clark St & Berwyn Ave,KA1504000146,41.900960,-87.623777,41.977997,-87.668047,member,0 days 00:41:35,41.583333,Tuesday,Tuesday,March
3489746,F8F43A0B978A7A35,classic_bike,2021-03-01 18:11:57,2021-03-01 18:18:37,Kingsbury St & Kinzie St,KA1503000043,New St & Illinois St,TA1306000013,41.889177,-87.638506,41.890847,-87.618617,member,0 days 00:06:40,6.666667,Monday,Monday,March
3489747,3AE64EA5BF43CF72,electric_bike,2021-03-26 17:58:14,2021-03-26 18:06:43,NaN,NaN,New St & Illinois St,TA1306000013,41.880000,-87.630000,41.890818,-87.619540,member,0 days 00:08:29,8.483333,Friday,Friday,March

In [16]:
# most frequent trip time in minutes
merged_data['trip_time_minutes'].mode()

0    9.0
dtype: float64

In [17]:
#most frequent day of the week for trip
merged_data['DOW(End_trip)'].mode()

0    Saturday
dtype: object

In [18]:
#drop trip time in minutes with "0.00" from minutes column
filt2= merged_data['trip_time_minutes'] == 0.00


merged_data.drop(merged_data.index[filt2],inplace=True)

In [19]:
merged_data['trip_time_minutes'].describe()

count    3.476396e+06
mean     2.797337e+01
std      2.529504e+02
min      1.666667e-02
25%      7.983333e+00
50%      1.458333e+01
75%      2.671667e+01
max      5.872003e+04
Name: trip_time_minutes, dtype: float64

In [20]:
#Descriptive stats on "trip_time_minutes" column
merged_data['trip_time_minutes'].describe().apply(lambda x: format(x,'f'))

count    3476396.000000
mean          27.973371
std          252.950356
min            0.016667
25%            7.983333
50%           14.583333
75%           26.716667
max        58720.033333
Name: trip_time_minutes, dtype: object

In [21]:

#percentile,inter-quartile range,upper and lower limits for trip time in minutes

import pandas as pd
import numpy as np
Q75,Q25= np.percentile(merged_data['trip_time_minutes'], [75, 25])

IQR = Q75-Q25

IQR

lim = Q25 - 1.5 * IQR 
upper_lim = Q75 + 1.5 * IQR

In [22]:
lim

-20.11666666666666

In [17]:
upper_lim

54.80833333333334

In [18]:
IQR

18.75

In [19]:
#drop triptime in minute > upper limit
filt3= merged_data['trip_time_minutes'] > upper_lim

merged_data.drop(merged_data.index[filt3],inplace=True)

In [20]:
merged_data['trip_time_minutes'].describe().apply(lambda x: format(x,'f'))

count    3206827.000000
mean          16.472176
std           11.651862
min            0.016667
25%            7.500000
50%           13.333333
75%           22.933333
max           54.800000
Name: trip_time_minutes, dtype: object

In [42]:
#group data for casual according to day of the week,sum trip time in minutes then sortvalues
ted= merged_data.groupby(['member_casual','DOW(strt_trip)'])['trip_time_minutes'].sum().sort_values().loc['casual']

ted

DOW(strt_trip)
Tuesday      5.881442e+06
Wednesday    6.385697e+06
Monday       6.799028e+06
Thursday     7.150118e+06
Friday       8.919155e+06
Sunday       1.330858e+07
Saturday     1.573295e+07
Name: trip_time_minutes, dtype: float64

In [44]:
# apply(lambda x: format(x,'f'))
#group data for member according to day of the week,sum trip time in minutes then sortvalues
ted= merged_data.groupby(['member_casual','DOW(strt_trip)'])
ted['trip_time_minutes'].sum().sort_values().loc['member']

DOW(strt_trip)
Monday       4.100076e+06
Tuesday      4.302840e+06
Thursday     4.569849e+06
Wednesday    4.672519e+06
Sunday       4.833151e+06
Friday       4.841580e+06
Saturday     5.749526e+06
Name: trip_time_minutes, dtype: float64

In [43]:
ted= merged_data.groupby(['member_casual','MON(strt_trip)'])

reset_mem= ted['trip_time_minutes'].sum().loc['member'].reset_index()

reset_mem .sort_values(by='trip_time_minutes',ascending=False)

   MON(strt_trip)  trip_time_minutes
1          August       5.571027e+06
5            July       4.992963e+06
11      September       4.673754e+06
6            June       3.521365e+06
10        October       3.402944e+06
9        November       2.322812e+06
8             May       2.239377e+06
7           March       2.018142e+06
0           April       1.312707e+06
2        December       1.289496e+06
4         January       1.013244e+06
3        February       7.117102e+05

In [24]:
reset_mem.to_csv('reset_mem.csv',index=False)

In [25]:
ted= merged_data.groupby(['member_casual','MON(strt_trip)'])

reset_cas= ted['trip_time_minutes'].sum().apply(lambda x: format(x,'f')).loc['casual'].reset_index()
reset_cas

   MON(strt_trip) trip_time_minutes
0           April    1726530.000000
1          August   12968984.300000
2        December     805407.666667
3        February     500200.183333
4         January     465327.716667
5            July   16107623.083333
6            June    7985104.000000
7           March    3206592.700000
8             May    4447935.750000
9        November    2797281.400000
10        October    4372753.083333
11      September    8793234.050000

In [26]:
reset_cas.to_csv('reset_cas.csv',index=False)

In [66]:
#compare trip time minutes for member_casual in all the month
ted= merged_data.groupby(['member_casual','MON(strt_trip)'])

reset= ted['trip_time_minutes'].sum().apply(lambda x: format(x,'f')).reset_index()

reset.sort_values(by='MON(strt_trip)',ascending=False)

   member_casual MON(strt_trip) trip_time_minutes
23        member      September    4673754.016667
11        casual      September    8793234.050000
10        casual        October    4372753.083333
22        member        October    3402944.150000
21        member       November    2322812.083333
9         casual       November    2797281.400000
8         casual            May    4447935.750000
20        member            May    2239376.683333
7         casual          March    3206592.700000
19        member          March    2018141.666667
18        member           June    3521365.000000
6         casual           June    7985104.000000
5         casual           July   16107623.083333
17        member           July    4992962.716667
4         casual        January     465327.716667
16        member        January    1013244.016667
3         casual       February     500200.183333
15        member       February     711710.150000
2         casual       December     805407.666667
14        member       December    1289495.516667
13        member         August    5571027.333333
1         casual         August   12968984.300000
0         casual          April    1726530.000000
12        member          April    1312706.600000

In [28]:
reset.to_csv('reset.csv',index=False)

In [29]:
#group data to find triptime for "Clark St & Elm St"
bike= merged_data.groupby(['start_station_name','member_casual'])

bike['trip_time_minutes'].sum().apply(lambda x: format(x,'f')).loc['Clark St & Elm St']

member_casual
casual    373115.550000
member    291912.050000
Name: trip_time_minutes, dtype: object

In [60]:
# start station with the highest frequency
merged_data['start_station_name'].mode()

0    Streeter Dr & Grand Ave
dtype: object

In [62]:
# filter the data by start_station_name 'Streeter Dr & Grand Ave' and sortvalues using triptime
filt6= merged_data['start_station_name'] == 'Streeter Dr & Grand Ave'

merged_data.loc[filt6,['trip_time_minutes']].sort_values(by='trip_time_minutes',ascending=False)

         trip_time_minutes
2286262       29788.133333
905314        18468.766667
1079902       14389.716667
1292458        9207.633333
788054         8760.066667
...                    ...
2543756           0.016667
2027559           0.016667
1072585           0.016667
2037667           0.016667
2389103           0.016667

[35205 rows x 1 columns]

In [32]:
#group data and sort by trip time in minutes
bike2= merged_data.groupby(['rideable_type','member_casual'])

bike_grouping= bike2['trip_time_minutes'].sum().reset_index().sort_values(by='trip_time_minutes',ascending=True)

In [63]:
bike_grouping

   rideable_type member_casual  trip_time_minutes
0   classic_bike        casual       2.176856e+06
1   classic_bike        member       3.591617e+06
5  electric_bike        member       4.901500e+06
4  electric_bike        casual       5.194762e+06
3    docked_bike        member       2.457642e+07
2    docked_bike        casual       5.680536e+07

In [33]:
bike_grouping.to_csv('bike_grouping.csv',index=False)

In [34]:
location= merged_data['member_casual'] == 'member'

members_location= merged_data.loc[location,['start_lat','start_lng']]

In [35]:
members_location.to_csv('members_location.csv',index=False)

In [36]:
location2= merged_data['member_casual'] == 'casual'

casual_location= merged_data.loc[location2,['start_lat','start_lng']]

In [37]:
casual_location.to_csv('casual_location.csv',index=False)

In [38]:
dt= merged_data[['member_casual','end_lat','end_lng']]
dt

        member_casual    end_lat    end_lng
0              member  41.932200 -87.658600
1              member  41.930600 -87.723800
2              member  41.867900 -87.623000
3              member  41.899200 -87.672200
4              casual  41.969500 -87.654700
...               ...        ...        ...
3489743        casual  41.890847 -87.618617
3489744        member  41.890847 -87.618617
3489745        member  41.977997 -87.668047
3489746        member  41.890847 -87.618617
3489747        member  41.890818 -87.619540

[3476396 rows x 3 columns]

In [39]:
dt.to_csv('member_casual_loc.csv',index=False)